// Theme colors
$primary: #5e72e4;
$secondary: #8392ab;
$success: #2dce89;
$info: #11cdef;
$warning: #fb6340;
$danger: #f5365c;
$light: #e9ecef;
$dark: #344767;
$white: #fff;
$black: #000;

// Gradient colors
$primary-gradient: #5e72e4 !default;
$primary-gradient-state: #825ee4 !default;

$secondary-gradient: #627594 !default;
$secondary-gradient-state: #a8b8d8 !default;

$info-gradient: #1171ef !default;
$info-gradient-state: #11cdef !default;

$success-gradient: #2dce89 !default;
$success-gradient-state: #2dcecc !default;

$danger-gradient: #f5365c !default;
$danger-gradient-state: #f56036 !default;

$warning-gradient: #fb6340 !default;
$warning-gradient-state: #fbb140 !default;

$dark-gradient: #212229 !default;
$dark-gradient-state: #212529 !default;

$light-gradient: #ced4da !default;
$light-gradient-state: #ebeff4 !default;

$dark-gradient-dark: #323a54 !default;
$dark-gradient-state-dark: #1a2035 !default;

$text-gradient-bg-primary: linear-gradient(
  310deg,
  $primary-gradient,
  $primary-gradient-state
) !default;
$text-gradient-bg-info: linear-gradient(
  310deg,
  $info-gradient,
  $info-gradient-state
) !default;
$text-gradient-bg-success: linear-gradient(
  310deg,
  $success-gradient,
  $success-gradient-state
) !default;
$text-gradient-bg-warning: linear-gradient(
  310deg,
  $warning-gradient,
  $warning-gradient-state
) !default;
$text-gradient-bg-danger: linear-gradient(
  310deg,
  $danger-gradient,
  $danger-gradient-state
) !default;
$text-gradient-bg-light: linear-gradient(
  310deg,
  $light-gradient,
  $light-gradient-state
) !default;
$text-gradient-bg-dark: linear-gradient(
  310deg,
  $dark-gradient,
  $dark-gradient-state
) !default;

// Gradient Colors map
$theme-gradient-colors: (
  'primary': (
    $primary-gradient,
    $primary-gradient-state,
  ),
  'secondary': (
    $secondary-gradient,
    $secondary-gradient-state,
  ),
  'success': (
    $success-gradient,
    $success-gradient-state,
  ),
  'info': (
    $info-gradient,
    $info-gradient-state,
  ),
  'warning': (
    $warning-gradient,
    $warning-gradient-state,
  ),
  'danger': (
    $danger-gradient,
    $danger-gradient-state,
  ),
  'light': (
    $light-gradient,
    $light-gradient-state,
  ),
  'dark': (
    $dark-gradient,
    $dark-gradient-state,
  ),
) !default;

// buttons
$buttons: ();
$buttons: map-merge(
  (
    'primary': (
      'background-color': $primary,
      'text-color': $white,
      'shadow-color': $primary,
    ),
    'secondary': (
      'background-color': $secondary,
      'text-color': $white,
      'shadow-color': $secondary,
    ),
    'success': (
      'background-color': $success,
      'text-color': $white,
      'shadow-color': $success,
    ),
    'danger': (
      'background-color': $danger,
      'text-color': $white,
      'shadow-color': $danger,
    ),
    'warning': (
      'background-color': $warning,
      'text-color': $white,
      'shadow-color': $warning,
    ),
    'info': (
      'background-color': $info,
      'text-color': $white,
      'shadow-color': $info,
    ),
    'light': (
      'background-color': $light,
      'text-color': #4f4f4f,
      'shadow-color': $light,
    ),
    'dark': (
      'background-color': $dark,
      'text-color': $white,
      'shadow-color': $dark,
    ),
  ),
  $buttons
);

// scss-docs-start buttons-outline-colors-map
$buttons-outline: ();
$buttons-outline: map-merge(
  (
    'primary': (
      'text-color': $primary,
      'border-color': $primary,
      'background-color': $primary,
    ),
    'secondary': (
      'text-color': $secondary,
      'border-color': $white,
      'background-color': $secondary,
    ),
    'success': (
      'text-color': $success,
      'border-color': $success,
      'background-color': $success,
    ),
    'danger': (
      'text-color': $danger,
      'border-color': $danger,
      'background-color': $danger,
    ),
    'warning': (
      'text-color': $warning,
      'border-color': $warning,
      'background-color': $warning,
    ),
    'info': (
      'text-color': $info,
      'border-color': $info,
      'background-color': $info,
    ),
    'light': (
      'text-color': $light,
      'border-color': $light,
      'background-color': $light,
    ),
    'dark': (
      'text-color': $dark,
      'border-color': $dark,
      'background-color': $dark,
    ),
  ),
  $buttons-outline
);
// scss-docs-end buttons-outline-colors-map

$btn-secondary-hover-focus-bgc: shade-color($secondary, 3%) !default;
$btn-secondary-active-bgc: shade-color($secondary, 6%) !default;

// text gradient
$text-gradient-bg-clip: text !default;
$text-gradient-text-fill: unset !default;
$text-gradient-position: relative !default;
$text-gradient-zindex: 1 !default;

// font sizes
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.075;
$font-size-sm: $font-size-base * 0.925;

// font weights
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

// vertical navbar + sidebar variables

// border
$border-radius-md: 0.375rem !default;

// navbat bg
$navbar-light-bg: #fbfbfb !default;
$navbar-light-toggler-border-color: transparent !default;

// Vertical navbar
$sidenav-header-width: 4.875rem !default;
$sidenav-card-opacity: 0.65 !default;
$navbar-vertical-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !default;
$navbar-vertical-width: 3.875rem !default;
$navbar-vertical-open-width: 15.625rem !default;
$navbar-vertical-padding-x: 1rem !default;
$navbar-vertical-nav-link-padding-x: 1rem !default;
$navbar-vertical-nav-link-padding-y: 0.75rem !default;
$navbar-vertical-sidenav-normal-ml: 4.01rem !default;
$navbar-vertical-m: 1rem !default;
$navbar-vertical-inner: calc(100vh - 360px) !default;
$navbar-icon-min-width: 1.8rem !default;
$navbar-icon-margin-left: 0.15rem !default;
$navbar-icon-material-margin-left: 2px !default;
$navbar-breadcrumb-padding-x: 0 !default;
$navbar-dark-bg: transparent !default;
$navbar-dark-hover-bg: rgba(255, 255, 255, 0.1) !default;
$navbar-dark-active-bg: rgba(255, 255, 255, 0.1) !default;
$navbar-dark-border-color: rgba(255, 255, 255, 0.1) !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-padding-y: 1rem !default;
$navbar-padding-x: 1rem !default;
$navbar-nav-link-padding-x: 1rem !default;
$navbar-nav-link-padding-y: 1rem !default;
$navbar-nav-link-font-size: 0.875rem !default;
$navbar-nav-link-font-weight: 300 !default;
$navbar-nav-link-text-transform: normal !default;
$navbar-nav-link-letter-spacing: 0 !default;
$navbar-nav-link-border-radius: $border-radius-md !default;
$font-size-xs: ($font-size-base * 0.75);
$transition-base-time: 0.25s;
$transition-cubic-bezier: all $transition-base-time
  cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;

// Navbar collapse
$navbar-vertical-collapse-margin-left: 1.35rem !default;
$navbar-vertical-collapse-left: -18px !default;
$navbar-vertical-collapse-top: 50% !default;
$navbar-vertical-collapse-translate: translate(0, -50%) !default;
$navbar-vertical-hidden-width: 6rem !default;

// Hover effect
$navbar-vertical-hover-bg-color: rgba(199, 199, 199, 0.2) !default;

// RTL Page
$rtl-sidebar-bullet-right: -1.125rem !default;
$rtl-sidebar-hover-padding-right: 2.5rem !default;

$font-size-xs: $font-size-base * 0.75 !default;
$font-size-2xl: $font-size-base * 1.5 !default;
$font-size-3xl: $font-size-base * 1.875 !default;
$font-size-4xl: $font-size-base * 2 !default;
$navbar-vertical-inner: calc(100vh - 360px) !default;

// dark version fix
$dark-version-caret-sidebar-color: rgba(206, 212, 218, 0.7) !default;

// modal
// $modal-backdrop-bg: red;
$modal-backdrop-opacity: 0.2;
