/*
25: 25%,
50: 50%,
75: 75%,
100: 100%,
auto: auto,
*/

/* vh */
.vh-25 {
  height: 25vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.vh-75 {
  height: 75vh !important;
}

/* width based on 10 levels of rem */
.w-1-rem {
  width: 1rem;
}

.w-2-rem {
  width: 2rem;
}

.w-3-rem {
  width: 3rem;
}

.w-4-rem {
  width: 4rem;
}

.w-5-rem {
  width: 5rem;
}

.w-6-rem {
  width: 6rem;
}

.w-7-rem {
  width: 7rem;
}

.w-8-rem {
  width: 8rem;
}

.w-9-rem {
  width: 9rem;
}

.w-10-rem {
  width: 10rem;
}

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }

  /* vh */
  .vh-sm-25 {
    height: 25vh !important;
  }

  .vh-sm-50 {
    height: 50vh !important;
  }

  .vh-sm-75 {
    height: 75vh !important;
  }

  .vh-sm-100 {
    height: 100vh !important;
  }

  /* width based on 10 levels of rem */
  .w-sm-1-rem {
    width: 1rem !important;
  }

  .w-sm-2-rem {
    width: 2rem !important;
  }

  .w-sm-3-rem {
    width: 3rem !important;
  }

  .w-sm-4-rem {
    width: 4rem !important;
  }

  .w-sm-5-rem {
    width: 5rem !important;
  }

  .w-sm-6-rem {
    width: 6rem !important;
  }

  .w-sm-7-rem {
    width: 7rem !important;
  }

  .w-sm-8-rem {
    width: 8rem !important;
  }

  .w-sm-9-rem {
    width: 9rem !important;
  }

  .w-sm-10-rem {
    width: 10rem !important;
  }
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }

  /* vh */
  .vh-md-25 {
    height: 25vh !important;
  }

  .vh-md-50 {
    height: 50vh !important;
  }

  .vh-md-75 {
    height: 75vh !important;
  }

  .vh-md-100 {
    height: 100vh !important;
  }

  /* width based on 10 levels of rem */
  .w-md-1-rem {
    width: 1rem !important;
  }

  .w-md-2-rem {
    width: 2rem !important;
  }

  .w-md-3-rem {
    width: 3rem !important;
  }

  .w-md-4-rem {
    width: 4rem !important;
  }

  .w-md-5-rem {
    width: 5rem !important;
  }

  .w-md-6-rem {
    width: 6rem !important;
  }

  .w-md-7-rem {
    width: 7rem !important;
  }

  .w-md-8-rem {
    width: 8rem !important;
  }

  .w-md-9-rem {
    width: 9rem !important;
  }

  .w-md-10-rem {
    width: 10rem !important;
  }
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }

  /* vh */
  .vh-lg-25 {
    height: 25vh !important;
  }

  .vh-lg-50 {
    height: 50vh !important;
  }

  .vh-lg-75 {
    height: 75vh !important;
  }

  .vh-lg-100 {
    height: 100vh !important;
  }

  /* width based on 10 levels of rem */
  .w-lg-1-rem {
    width: 1rem !important;
  }

  .w-lg-2-rem {
    width: 2rem !important;
  }

  .w-lg-3-rem {
    width: 3rem !important;
  }

  .w-lg-4-rem {
    width: 4rem !important;
  }

  .w-lg-5-rem {
    width: 5rem !important;
  }

  .w-lg-6-rem {
    width: 6rem !important;
  }

  .w-lg-7-rem {
    width: 7rem !important;
  }

  .w-lg-8-rem {
    width: 8rem !important;
  }

  .w-lg-9-rem {
    width: 9rem !important;
  }

  .w-lg-10-rem {
    width: 10rem !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }

  /* vh */
  .vh-xl-25 {
    height: 25vh !important;
  }

  .vh-xl-50 {
    height: 50vh !important;
  }

  .vh-xl-75 {
    height: 75vh !important;
  }

  .vh-xl-100 {
    height: 100vh !important;
  }

  /* width based on 10 levels of rem */
  .w-xl-1-rem {
    width: 1rem !important;
  }

  .w-xl-2-rem {
    width: 2rem !important;
  }

  .w-xl-3-rem {
    width: 3rem !important;
  }

  .w-xl-4-rem {
    width: 4rem !important;
  }

  .w-xl-5-rem {
    width: 5rem !important;
  }

  .w-xl-6-rem {
    width: 6rem !important;
  }

  .w-xl-7-rem {
    width: 7rem !important;
  }

  .w-xl-8-rem {
    width: 8rem !important;
  }

  .w-xl-9-rem {
    width: 9rem !important;
  }

  .w-xl-10-rem {
    width: 10rem !important;
  }
}

/* z-index */

.z-index-0 {
  z-index: 0 !important;
}

/* positive */

.z-index-1 {
  z-index: 1 !important;
}

.z-index-2 {
  z-index: 2 !important;
}

.z-index-3 {
  z-index: 3 !important;
}

.z-index-4 {
  z-index: 4 !important;
}

.z-index-5 {
  z-index: 5 !important;
}

/* negative */
.z-index-n1 {
  z-index: -1 !important;
}

.z-index-n2 {
  z-index: -2 !important;
}

.z-index-n3 {
  z-index: -3 !important;
}

.z-index-n4 {
  z-index: -4 !important;
}

.z-index-n5 {
  z-index: -5 !important;
}

/* Custom Properties */
.glass-mask {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* object fit/size utils */
/* used with images, figures etc */
.obj-fit-cover {
  object-fit: cover;
}

.obj-fit-contain {
  object-fit: contain;
}

.obj-fit-fill {
  object-fit: fill;
}

.obj-fit-none {
  object-fit: none;
}

.obj-fit-scale-down {
  object-fit: scale-down;
}

/* object postion utils */
/* used with images, figures etc */
.obj-pos-center {
  object-position: center;
}

.obj-pos-bottom {
  object-position: bottom;
}

.obj-pos-top {
  object-position: top;
}

.obj-pos-left {
  object-position: left;
}

.obj-pos-right {
  object-position: right;
}

/* Background size utils */
/* used with background */
.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-auto {
  background-size: auto;
}

/* Backgroud postion utils */
/* used with background */
.bg-pos-center {
  background-position: center;
}

.bg-pos-bottom {
  background-position: bottom;
}

.bg-pos-top {
  background-position: top;
}

.bg-pos-left {
  background-position: left;
}

.bg-pos-right {
  background-position: right;
}

/* Pointer classes */
.pointer-alias {
  cursor: alias;
}
.pointer-all-scroll {
  cursor: all-scroll;
}
.pointer-auto {
  cursor: auto;
}
.pointer-cell {
  cursor: cell;
}
.pointer-context-menu {
  cursor: context-menu;
}
.pointer-col-resize {
  cursor: col-resize;
}
.pointer-copy {
  cursor: copy;
}
.pointer-crosshair {
  cursor: crosshair;
}
.pointer-default {
  cursor: default;
}
.pointer-e-resize {
  cursor: e-resize;
}
.pointer-ew-resize {
  cursor: ew-resize;
}
.pointer-grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.pointer-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.pointer-help {
  cursor: help;
}
.pointer-move {
  cursor: move;
}
.pointer-n-resize {
  cursor: n-resize;
}
.pointer-ne-resize {
  cursor: ne-resize;
}
.pointer-nesw-resize {
  cursor: nesw-resize;
}
.pointer-ns-resize {
  cursor: ns-resize;
}
.pointer-nw-resize {
  cursor: nw-resize;
}
.pointer-nwse-resize {
  cursor: nwse-resize;
}
.pointer-no-drop {
  cursor: no-drop;
}
.pointer-none {
  cursor: none;
}
.pointer-not-allowed {
  cursor: not-allowed;
}
.pointer-pointer {
  cursor: pointer;
}
.pointer-progress {
  cursor: progress;
}
.pointer-row-resize {
  cursor: row-resize;
}
.pointer-s-resize {
  cursor: s-resize;
}
.pointer-se-resize {
  cursor: se-resize;
}
.pointer-sw-resize {
  cursor: sw-resize;
}
.pointer-text {
  cursor: text;
}
.pointer-w-resize {
  cursor: w-resize;
}
.pointer-wait {
  cursor: wait;
}
.pointer-zoom-in {
  cursor: zoom-in;
}
.pointer-zoom-out {
  cursor: zoom-out;
}

/* change Font Family */
* {
  font-family: Poppins, Helvetica, 'sans-serif' !important;
}

/* avatars */
.avatar-xs {
  width: 24px !important;
  height: 24px !important;
  font-size: 0.75rem;
}

.avatar-sm {
  width: 36px !important;
  height: 36px !important;
  font-size: 0.875rem;
}

.avatar-lg {
  width: 58px !important;
  height: 58px !important;
  font-size: 0.875rem;
}

.avatar-xl {
  width: 74px !important;
  height: 74px !important;
}

.avatar-xxl {
  width: 110px !important;
  height: 110px !important;
}

.avatar {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0.75rem;
  height: 48px;
  width: 48px;
  transition: all 0.2s ease-in-out;
}

/* transitions */
.transition-all-ease-out-sine {
  transition: all 0.6s cubic-bezier(0.61, 1, 0.88, 1) !important;
}

/* required */
.required::after {
  content: '*';
  color: var(--mdb-danger);
}

/* add link icon at the end */
.link:after {
  font-family: 'remixicon' !important;
  content: '\EEB7';
}

/* add mail send icon at the end */
.email:after {
  font-family: 'remixicon' !important;
  content: '\EEFC';
}

/* animated underline on hover */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--mdb-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  content: '';
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-link {
  color: #4f4f4f;
}
.hover-link:after {
  content: '';
  display: block;
  width: 0;
  height: 0.06rem;
  background-color: var(--mdb-primary);
  transition: width 0.3s ease-in-out;
}

.hover-link:hover {
  color: var(--mdb-primary);
}

.hover-link:hover::after {
  width: 100%;
  background-color: var(--mdb-primary);
}

.better-underline {
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-primary), var(--mdb-primary));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.better-underline:hover {
  background-size: 0 2px, 100% 2px;
}

/* danger */
.underline-danger {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-danger), var(--mdb-danger)) !important;
}

/* secondary */
.underline-secondary {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-secondary), var(--mdb-secondary)) !important;
}

/* info */
.underline-info {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-info), var(--mdb-info)) !important;
}

/* success */
.underline-success {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-success), var(--mdb-success)) !important;
}

/* warning */
.underline-warning {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-warning), var(--mdb-warning)) !important;
}

/* dark */
.underline-dark {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--mdb-dark), var(--mdb-dark)) !important;
}

/* disable transitions */
.no-transition {
  transition: all 0s !important;
}
