/* fade x */
.fade-x-enter,
.fade-x-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.fade-x-enter-active,
.fade-x-leave-to {
  transition: opacity 0.3s, transform 0.5s;
}

/* fade y */
.fade-y-enter,
.fade-y-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-y-enter-active,
.fade-y-leave-active {
  transition: opacity 0.3s, transform 0.5s;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* flip x */
.flip-x-enter,
.flip-x-leave-to {
  transform: rotateY(-80deg);
  opacity: 0;
}

.flip-x-enter-active,
.flip-x-leave-active {
  transition: transform 0.5s, opacity 0.3s;
}

/* roll in */
.roll-in-left-enter,
.roll-in-left-leave-to {
  transform: translateX(-500px) rotate(-200deg);
  opacity: 0;
}

.roll-in-left-enter-active,
.roll-in-left-leave-active {
  transition: transform 0.3s, opacity 0.5s;
}

/* rotate */
.rotate-enter,
.rotate-leave-to {
  transform: rotate(-360deg);
  opacity: 0;
}

.rotate-enter-active,
.rotate-leave-active {
  transition: transform 0.7s, opacity 0.5s;
}

/* scale in */
.scale-in-enter,
.scale-in-leave-to {
  transform: scale(0.88);
  opacity: 0;
}

.scale-in-enter-active,
.scale-in-leave-active {
  transition: transform 0.3s, opacity 0.5s;
}

/* shrink */
.shrink-enter,
.shrink-leave-to {
  transform: scale(1.12);
  opacity: 0;
}

.shrink-enter-active,
.shrink-leave-active {
  transition: transform 0.5s, opacity 0.3s;
}

/* swirl */
.swirl-enter,
.swirl-leave-to {
  transform: rotate(-540deg) scale(0);
  opacity: 0;
}

.swirl-enter-active,
.swirl-leave-active {
  transition: transform 0.5s, opacity 1s;
}

/* tilt */
.tilt-in-enter,
.tilt-in-leave-to {
  transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
    skew(-35deg, 10deg);
  opacity: 0;
}

.tilt-in-enter-active,
.tilt-in-leave-active {
  transition: ease-out transform 0.4s, opacity 0.3s;
}
