:root {
  --vs-colors--lightest: #bdbdbd;
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #344767;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);

  /* Search Input */
  --vs-search-input-color: var(--mdb-dark) !important;
  --vs-search-input-placeholder-color: #0009 !important;

  /* Font */
  --vs-font-size: 1rem;
  --vs-line-height: 1.4 !important;

  /* Disabled State */
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;

  /* Borders */
  --vs-border-color: transparent !important;
  --vs-border-width: 1px !important;
  --vs-border-style: solid;
  --vs-border-radius: 0.25rem !important;

  /* Actions: house the component controls */
  --vs-actions-padding: 4px 6px 0 3px;

  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

  /* Selected */
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);

  /* Dropdown */
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: #0009 !important;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21);

  /* Options */
  --vs-dropdown-option-bg: #0009;
  --vs-dropdown-option-color: #0009 !important;
  --vs-dropdown-option-padding: 3px 20px;

  /* Active State */
  --vs-dropdown-option--active-bg: var(--mdb-primary) !important;
  --vs-dropdown-option--active-color: #fff;

  /* Deselect State */
  --vs-dropdown-option--deselect-bg: var(--mdb-danger) !important;
  --vs-dropdown-option--deselect-color: #fff;

  /* Transitions */
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 150ms;
}

.v-select {
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}
.v-select.vs--open {
  border: 0px solid #bdbdbd;
}
.vs--open {
  --vs-border-width: 0.125rem !important;
  --vs-border-color: var(--mdb-primary) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21) !important;
}
.vs__dropdown-menu {
  --vs-border-width: 0.125rem !important;
}

/* disable transition for options */
.vs__dropdown-menu * {
  transition: none !important;
}
